  #전체 {
    display: grid;
    grid-template-rows: 120px 90px 800px 0px;
    width:800px;
    margin:0px auto;
    border: 10px solid violet;
  }
  h1 {
    border-bottom: 5px violet solid;
    text-align: center;
    margin: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 50px;
    line-height: 60px;
  }
  h2 {
    border-top: 5px violet solid;
    margin: 0px;
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 40px;
    line-height: 45px;
  }
  #본문 {
    border-top: 10px violet solid;
    border-bottom: 10px violet solid;
    margin: 0px;
    padding: 20px;
  }
